body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}

.event-heading {
  width: 97%;
  padding: 1rem 1rem;
  border-bottom: 1px solid #333;
  border: 0.2rem solid #ff9800;
  border-radius: 2rem;
  display: flex;
  background: linear-gradient(to bottom, #1a1a1a, #492e06);
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Added box-shadow property */
}

.event-heading h1 {
  font-size: 36px;
  margin-top: 0px;
  color: #ff9800;
}

.event-heading .date {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ff9800;
}

.event-heading .event-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.event-heading .heading-left {
  width: 100%;
  max-width: 65%;
  padding-right: 1rem;
}

.event-img {
  width: 100%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 2px solid #ff9800;
  background-color: #ff9800;
}

.register-section {
  width: 100%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.register-section .register-button {
  background-color: #201e1a;
  border: 0.1rem solid #ff9800;
  background: linear-gradient(to bottom, #1a1a1a, #492e06);
  width: 100%;
  height: 3rem;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ff9800;
  transition: transform 0.3s ease;
}

.register-section .register-button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px wheat;
}

.register-section .material-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.register-section .material-buttons button {
  background-color: #201e1a;
  border: 0.1rem solid #ff9800;
  border-radius: 0.5rem;
  padding: 10px 20px;
  color: #ff9800;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.register-section .material-buttons button:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px wheat;
}
.register-section .material-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.register-section .material-buttons button {
  background-color: #201e1a;
  border: 0.1rem solid #ff9800;
  border-radius: 0.5rem;
  padding: 10px 20px;
  color: #ff9800;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.register-section .material-buttons button:hover {
  transform: scale(1.1);
}

.instructors {
  padding: 3rem 0;
  border-bottom: 1px solid #333;
}

.instructors h2 {
  font-size: 28px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: #ff9800;
  font-weight: bold;
}

.instructors {
  padding: 3rem 0;
  border-bottom: 1px solid #333;
}

.instructors h2 {
  font-size: 28px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: #ff9800;
  font-weight: bold;
}

.instructor {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  border: 0.2rem solid #ff9800;
  border-radius: 1rem;
  display: flex;
  background: linear-gradient(to bottom, #1a1a1a, #492e06);
}

.instructor .instructor-img {
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #ff9800;
  border-radius: 1rem 0 0 1rem;
}

.instructor .instructor-info {
  width: 30%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.instructor .instructor-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff9800;
}

.instructor .social-icons a {
  margin-right: 10px;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  color: #ff9800;
  font-size: 2rem;
}

.instructor-description {
  width: 70%;
  height: 90px;
  font-size: 16px;
  color: #aaa;
  padding: 1.5rem 0.3rem;
  overflow: auto;
}

.map {
  padding: 20px 0;
  text-align: center;
}

.map h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff9800;
  font-weight: bold;
}

.map .map-image {
  background-color: #333;
  padding: 5rem;
  font-size: 3rem;
  border: 0.2rem solid #ff9800;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .event-heading {
    flex-direction: column;
    align-items: center;
  }

  .event-heading {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .event-heading .heading-left {
    max-width: 90%;
    width: 100%;
    padding: 1rem;
  }
  .register-section {
    max-width: 90%;
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
  }
  .register-section .register-button {
    width: 100%;
  }

  .instructor .instructor-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }

  .instructor .instructor-info {
    width: 100%;
  }

  .instructor-description {
    width: 100%;
  }
}
