@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
  }
  body {
    background-image: url("https://res.cloudinary.com/dpqdgcipi/image/upload/v1720238432/Background_hxyroh.png");
    backdrop-filter: blur(100px);
    background-size: contain;
    @apply dark:bg-blue-50
    /* background-color: black; 
    filter: blur(3); */;
  }

  .firstPage {
    background-image: url("https://res.cloudinary.com/dpqdgcipi/image/upload/v1720238432/Background_hxyroh.png");
    background-size: contain;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #935913;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f7941d;
    border-radius: 50px;
  }

  /*--Animated_Background--Outsource code*/

  /* 
  
  @mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

  
*/
}

input::-ms-reveal {
  filter: invert(57%) sepia(60%) saturate(2884%) hue-rotate(334deg)
    brightness(95%) contrast(101%);
}

/* CSS for sliding menu */
.slide-in-menu {
  position: fixed;
  top: 0;
  right: -100%; /* Start off-screen */
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.8); Semi-transparent background */
  transition: right 0.3s ease-out; /* Transition effect */
  z-index: 30; /* Make sure it's on top */
}

.slide-in-menu.show {
  right: 0; /* Slide in to visible area */
}

/* Ensure the content above the overlay is visible */
.navbar-icons {
  position: relative;
  z-index: 40; /* Higher than the sliding menu */
}
