@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html,body{
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
  }
  body{
    background-image: url(https://res.cloudinary.com/dpqdgcipi/image/upload/v1719326874/Blurred_Dark_Orange_Background_fpnyir.jpg);
    background-size: cover;
    /* background-color: black; 
    filter: blur(3); */
  }

  /*--Animated_Background--*/



}